*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.parent{
    background-image: url(https://img.freepik.com/photos-gratuite/vie-morte-saint-valentin-rose_23-2151934465.jpg?semt=ais_hybrid&w=740&q=80);
    background-size: cover;
    height: 100vh;
    background-position: center;
    align-items: center;
}
.head{
    background-color: black;
    height: 50px;
    display: flex;
    color: white;
    justify-content: space-between;

}
.menu {
    display: flex;
    gap: 50px;
    margin-left: 500px;
    align-items: center;
    font-size: 15px;
    cursor: pointer;

}
.pa{
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-left: 200px;
    cursor: pointer;

}
.pap{
    align-items: center;
    cursor: pointer;
    margin-right: 20px;
    cursor: pointer;

}
.p{
    display: flex;
    align-items: center;
    margin-left: 20px;
    letter-spacing: 5px;
}
.papa{
    color: #FCFCFC;
    margin-top: 8%;
    margin-left: 50px;
    font-size: 25px;
}
.m{
    font-size: 70px;
    letter-spacing: 8;
}
.ma{
    margin-top: 50px;
}
.mam{
    margin-top: 60px;
    cursor: pointer;
    height: 70px;
    width: 140px;

}
.main{
    background-color: whitesmoke;
    height: 100vh;
}
.r{
    display: flex;
    padding-top: 100px;
}
.rov{
    margin-right: 20%;
    font-size: 25px;
    margin-left: 2%;
}
.ro{
    font-size: 25px;
}
.rovi{
    margin-top: 30PX;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}
.rovi:hover{
    text-decoration: none;
    transition: 3ms;
    color: red;
}
.photo{
    display: flex;
    gap: 50px;
    margin-top: 30px;
}
.main1{
    background-color: #84795F;
    height: 100%;
    color: white;
}
.mere{
    padding-top: 50px;
    text-align: center;
}
.t{
    margin-bottom: 15px;
    font-size: 25px;
}
.te{
    font-size: 20px;
}
.f{
    font-size: 25px;
    margin-bottom: 15px;
}
.fi{
    font-size: 20px;
    margin-bottom: 15px;
}
.fil{
    text-decoration: underline 2px solid;
    margin-bottom: 20px;
    cursor: pointer;
}
.fil:hover{
    text-decoration: none;
    color: red;
    transition: 5ms;
}
.fille{
    margin-top: 100px;
    text-align: center;

}
.fiill{
    display: flex;
    flex-direction: column;
}
.mau{
    display: flex;
    gap: 30px;
}
.footer{
    background-color: black;
    color: white;
    height: 30vh;
    display: flex;
    padding-top: 30px;
    gap: 90px;
}
.fo{
    display: flex;
    flex-direction: column;
}
.ep{
    margin-top: 15px;
}
.pro{
    cursor: pointer;
    text-decoration: underline 2px solid;
}
.pro:hover{
    color: blue;
}